:root{
    --brand-color-ligh:#60A5FA;
    --brand-color-dark:#1D4ED8;
    --bg-color:#0F172A;
    --stroke-color:#1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
    
    --font-page:"Archivo", sans-serif;
}

body{
    background-color: var(--stroke-color);
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1280px;
}


h1{
    font: 800 24px/135% var(--font-page);
    color: var(--brand-color-ligh);
}

h2{
    font: 800 16px/140% var(--font-page);
    color: var(--text-color-primary);
}

h3{
    font: 800 14px/140% var(--font-page);
}

span{
    font: 600 14px/145% var(--font-page);
}

p{
    font: 400 14px/160% var(--font-page);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}