#navbar-primary{
    justify-content: space-between;
    align-items: center;
    font: var(--text-h2);
    padding-block: 20px;

    /*Nesting CSS*/

    div{
        display: flex;
        gap: 8px;
    }
}   

#navbar-secondary{
    padding-block: 14px;
    justify-content: space-between;
    border: 1px solid var(--stroke-color);
    border-inline: none;
    margin-bottom: 24px;
}