#emphasis{
    padding-bottom: 80px;
    
    .card{
        position: relative;
        overflow: hidden;

        &::before{
            content: "";
            position: absolute;
            border-radius: 4px;
            inset: 0;
            background: linear-gradient(180deg, transparent 0%, #020617);
        }

        img{
            object-fit: cover;
            height: 100%;
            border-radius: 4px;    
        }

        figcaption{
            position: absolute;
            bottom: 0px;
            padding: 24px;

            &:has(h3){
                padding: 12px;
            }

            h1,
            h3{
                margin-top: 8px;
            }

        }

    }
}

section > header{
    justify-content: space-between;
    padding-top: 12px;
    height: 32px;
    border-top: 1px solid var(--stroke-color);

    a{
        align-items: center;
        gap: 4px;

        img{
            width: 16px;
            height: 16px;
        }

        &:hover img{
            content: url("../assets/icons/ArrowRight-hover.svg"); 
        }

    }
}

#most-read{
    padding-bottom: 80px;

    nav{
        padding-block: 24px;
        grid-template-columns: repeat(4, 292px);
        justify-content: center;

        figure{
            position: relative;

            img{
                object-fit: cover;
                height: 160px;
                
            }
            span{
                position: absolute;
                top: 8px;
                left: 8px;
            }
            figcaption{
                padding-top: 8px;
            }
        }
    }
}

#highlights{
    grid-template-columns: 696px 488px;
}

#ia{
    /* height: fit-content; */

    figure{

        h2{
            margin-top: 8px;
            margin-bottom: 4px;
        }
        p{
            padding-bottom: 6px;
        }

        img{
            width: 176px;
            height: 176px;
            object-fit: cover;
        }
    }
}

#more{
    
    #ads{
        margin-bottom: 32px;
    
        img{
            border-radius: 4px;
        }
    }

    section{

        figure{

            img{
                width: 72px;
                height: 72px;
                object-fit: cover;
            }
            p{
                margin-top: 8px;
                padding-bottom: 2px;
            }
        }
    }
}

