#emphasis{
    padding-bottom: 80px;
    
    .card{
        position: relative;
        overflow: hidden;

        &::before{
            content: "";
            position: absolute;
            border-radius: 4px;
            inset: 0;
            background: linear-gradient(180deg, transparent 0%, #020617);
        }

        img{
            object-fit: cover;
            height: 100%;
            border-radius: 4px;    
        }

        figcaption{
            position: absolute;
            bottom: 0px;
            padding: 24px;

            &:has(h3){
                padding: 12px;
            }

            h1,
            h3{
                margin-top: 8px;
            }

        }

    }
}

#most-read{
    header{
        display: flex;
        justify-content: space-between;

    }
}